# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/
.env
venv/
.venv/
*.pyc

# Node
node_modules/
frontend/dist/
frontend/.env
*.local

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
celerybeat-schedule
